main img {
  max-width: 580px;
  max-height: 350px;
  height: auto;
  border-radius: 6px;
  margin: 1rem 1rem auto;
}

.step-code {
  margin-left: 2.5rem;
  margin-top: 0rem;
}

/* customized background color and text color for terminal text */
.terminal-code,
.terminal-code pre,
.terminal-code code {
  background-color: #1c202a !important; /* #17181c */
}
.terminal-code pre code span {
  color: #c1c3c8 !important;
}

.terminal-code .header .title {
  color: #c1c3c8;
  background-color: #1c202a; /* #17181c */
}

.terminal-code.expressive-code .frame.has-title:not(.is-terminal) .header {
  background: #303441;
}

.terminal-code.expressive-code
  .frame.has-title:not(.is-terminal)
  .title::after {
  border-top: 0.17rem solid hsl(251, 75%, 55%);
}
